<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="JD rule model Guo" content="width=device-width, initial-scale=1.0">
    <title>JD rule model Guo</title>
</head>
<body>
    <h2>Enter the job description in this box:</h2>

    <form method="POST" action="/">
        <input type="text" name="jd" value="">
        <br><br>
        <input type="submit" value="Submit">
    </form>

    {% if DA %}
    <p>DA: {{ DA }}</p>
    {% endif %}

    {% if DS %}
    <p>DS: {{ DS }}</p>
    {% endif %}

    {% if MLE %}
    <p>MLE: {{ MLE }}</p>
    {% endif %}

    {% if DE %}
    <p>DE: {{ DE }}</p>
    {% endif %}

    {% if label %}
    <p>label: {{ label }}</p>
    {% endif %}
    
</body>
</html>